#interface {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    >header,
    >footer {
        padding: 0.5em 1em;
        background-color: hsl(var(--hue), 100%, 50%);
        display: flex;
        justify-content: space-between;
    }

    >header {
        order: -1000;
        h1 {
            margin: 0;
        }
    }
    a {
        background-color: red;
        color: inherit;
        text-decoration: none;
        :hover {
            background-color: pink;
            text-decoration: underline;
        }
        &.important {
            font-weight: bold;
        }
    }

    >footer {
        order: 1000;
        font-size: smaller;
    }
}